<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.1.0" newVersion="3.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Default messages titles -->
    <add key="Transfering_message_header" value="DataMergeEditor - Table transfering"/>
    <add key="Settings_theme_message_header" value="DataMergeEditor - Theme message"/>
    <add key="Settings_reset_header" value="DataMergeEditor - Settings reset message"/>
    <add key="New_script_note_execute_header" value="DataMergeEditor - Executing scripts"/>
    <add key="New_script_note_open_script_header" value="DataMergeEditor - Open script"/>


    <!-- Eror messages -->
    <!-- Connection messages -->
    <add key="Connection_message_verify_connection" value="Please verify your connectivity"/>
    <!-- Transfering messages -->
    <add key="Table_transfering_message" value="Main list already contains the selected Table" />
    <add key="Table_transfering_valid_table_needed" value="Please select a valid table to transfer"/>
    <add key="Table_transfering_cannot_transfer_to_main_list" value="Cannot transfer table to main list."/>
    <add key="Table_transfering_duplicated_file_names" value="One or more files contains duplicated names in list."/>
    <!-- Settings Theme messages -->
    <add key="Settings_theme_limit_message" value="Only one theme can be active at a time"/>
    <add key="Settings_all_settings_reset_message" value="All settings has been set to default"/>
    <!-- New script note messages -->
    <add key="New_script_note_verify_connection_msg" value="Please verify your connection in order to execute scripts"/>
    <add key="New_script_note_only_sql_files_msg" value="Only files with .sql extenstion can be opened"/>
    <add key="" value="DataMergeEditor - Settings reset message"/>
    <add key="" value="DataMergeEditor - Settings reset message"/>
    
  </appSettings>
</configuration>